<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">  
    <script src="https://kit.fontawesome.com/b068d6698a.js" crossorigin="anonymous"></script>
</head>
<body class = "home">
    <header>
    <div class = "liebre"><img width="150" src="/images/logo-mercado-liebre.svg" alt=""></div>
    <div class = "barra"><form action=""><input type="text" placeholder="Buscar productos, marcas ..."><br><button><i class="fas fa-search"></i></button></form></div>
<p class = "p1"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
<nav>
<ul class = "primera-lista">
    <li><a href="/">Ofertas</a></li>
    <li><a href="/">Tiendas Oficiales</a></li>
    <li><a href="/">Vender</a></li>
    <li><a href="/">Ayuda</a></li>
</ul>
<br>
<ul class = "primera-lista">
    <li><a href="/">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
    <li><a href="/">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
    <li><a href="/">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
</ul>
<button id="burguer"><i class="fas fa-bars"></i></button>
</nav>
</header>
    <img width="442" src="/images/img-home-banner.jpg" alt="">

    <h1>Basado en tu última visita</h1>
    <img width="442" src="/images/img-cafetera-moulinex.jpg" alt="">
    <div class = "precios">$6.770</div><span class="descuento">40% off</span>
    <H4>Cafetera Moulinex</H4>

    <img width= "442" src="/images/img-macbook-pro-2019.jpg" alt="">
    <div class = "precios">$230.000</div><span class="descuento">20% off</span>
    <h4>MacBook Pro 2019</h4>

    <img width="442" src="/images/img-samsung-galaxy-s10.jpg" alt="">
    <div class = "precios">$70.500</div><span class="descuento">10% off</span>
    <h4>Samsung Galaxy S10</h4>

    <img width="442" src="/images/img-tv-samsung-smart.jpg" alt="">
    <div class = "precios">$23.200</div><span class="descuento">5% off</span>
    <h4>SmartTv Samsung 43"</h4>

    <h1>Sección de Ofertas</h1>
    <img width="442" src="/images/img-cafetera-moulinex.jpg" alt="">
    <div class = "precios">$6.770</div><span class="descuento">40% off</span>
    <H4>Cafetera Moulinex</H4>

    <img width= "442" src="/images/img-macbook-pro-2019.jpg" alt="">
    <div class = "precios">$230.000</div><span class="descuento">20% off</span>
    <h4>MacBook Pro 2019</h4>

    <img width="442" src="/images/img-samsung-galaxy-s10.jpg" alt="">
    <div class = "precios">$70.500</div><span class="descuento">10% off</span>
    <h4>Samsung Galaxy S10</h4>

    <img width="442" src="/images/img-tv-samsung-smart.jpg" alt="">
    <div class = "precios">$23.200</div><span class="descuento">5% off</span>
    <h4>SmartTv Samsung 43"</h4>



<footer>
    <i class="fas fa-credit-card"></i>
    <article class ="futer">
    <h4>Pagá con tarjeta o en efectivo</h4>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    </article>

    <i class="fas fa-gift"></i>
    <article class ="futer">
    <h4>Envío gratis desde $ 2.500</h4>    
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    </article>
    
    <i class="fas fa-user-shield"></i>
    <article class ="futer">
    <h4>Seguridad, de principio a fin</h4>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
    </article>

    <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
</footer>
</body>
</html>