/* header */
header{
    background-color: #EAC926;
}
#burguer{
    display: block;
    margin: 30px auto;
    background-color: blue;
    border: none;
    padding: 7px;
    color: white;
    border-radius: 5px;

}
.p1 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.fa-sign-in-alt {
    color: black;
}
.fa-address-card{
    color: black;
}
.fa-shopping-basket{
    color: black;
}
.liebre {
    padding-top: 40px;
    margin-left: 30px;
    }
.barra {
    margin: 20px 0 0 20px;
}
.primera-lista{
    padding-left: 0%;
    display: none;
}
/* body */

.home .camion{
    color: yellowgreen;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 100%;
    border:solid 1px yellowgreen;
    width: 50px;
    height: 50px;
    display: block; 
}
.home .precios{
    font-size: 18px;
}
.home .descuento{
    font-size: 16px;
    color: yellowgreen;
}
.home .articulos{
    margin-top: 10px;
    border: solid 1px #ebebeb;
}
.home .numeros{
    padding-top: 10px;
    padding-left: 10px;
    border: solid 1px #ebebeb;
    margin-bottom: 10px;
}
h4{
    display: none;
}


/* footer */
footer{
    text-align: center;
}
footer p, h4, h6{
    color: #666;
}
footer .futer{
    margin-bottom: 55px;
}
footer .fa-credit-card{
    margin-top: 55px;
    margin-bottom: 10px;
color: #1259c3;
}
footer .fa-gift{
    margin-bottom: 10px;
color: #1259c3;
}
footer .fa-user-shield{
    margin-bottom: 10px;
color: #1259c3;
}


/* Media */
@media (min-width:361px){
    .primera-lista{
        display: inline-block;
    }
.articulos ,.numeros{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
h4{
    display: block;
}
}